/*=====================================================================*/
/*    serrano/prgm/project/hop/weblets/dired/dired-moz.css             */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Tue Dec 14 12:59:39 2004                          */
/*    Last change :  Mon Jan  9 14:43:48 2006 (serrano)                */
/*    Copyright   :  2004-06 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    DIRED CSS For Mozilla clients                                    */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Directory                                                        */
/*---------------------------------------------------------------------*/
body.dired div.header {
  -moz-border-radius: 0.5em;
  padding: 4px;
}

/*---------------------------------------------------------------------*/
/*    Directory                                                        */
/*---------------------------------------------------------------------*/
body.dired div.directory {
/*   -moz-border-radius: 0.5em;                                        */
/*   padding: 4px;                                                     */
}

/*---------------------------------------------------------------------*/
/*    Config                                                           */
/*---------------------------------------------------------------------*/
body.dired div.config {
/*   -moz-border-radius: 0.5em;                                        */
/*   padding: 4px;                                                     */
}

/*---------------------------------------------------------------------*/
/*    Icon entries                                                     */
/*---------------------------------------------------------------------*/
body.dired div.ientry {
  -moz-border-radius: 0.5em;
}

body.dired div.ientry input.filename {
  -moz-border-radius: 0.5em;
}

body.dired div.ientry div.icon td div.text {
  -moz-border-radius: 0.5em;
  padding: 4px;
}

/*---------------------------------------------------------------------*/
/*    Name entries                                                     */
/*---------------------------------------------------------------------*/
body.dired div.entries pre {
  -moz-border-radius: 0.5em;
  padding: 4px;
}
