/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-folditem.js                   */
/*    -------------------------------------------------------------    */
/*    Author      :  Erick Gallesio                                    */
/*    Creation    :  Wed Mar  1 11:56:02 2006                          */
/*    Last change :  Wed Mar  1 11:59:43 2006 (eg)                     */
/*    -------------------------------------------------------------    */
/*    HOP fold-item implemenetation                                    */
/*=====================================================================*/

.hop-fold-item {
    margin: 1px 0 1px 3em;
    padding: 0;
}

.hop-fold-item LI SPAN {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
