/* ======================================================================
 *    HOP tabslider implementation
 * 
 *              Author: Erick Gallesio [eg@essi.fr]
 *       Creation date: 14-Sep-2005 09:24 (eg)
 *    Last file update: 15-Sep-2005 23:52 (eg)
 * ======================================================================
 */

div.hop-tabslider {
    width:300;
    height:500;
    overflow: auto;
    background: #eee;
}

div.hop-tabslider > span {
    display: block;
    background: #ccc;
    cursor:pointer;
    border-width: 1;
    border-style: dotted;
    padding: 2px 10px 0px 10px;
    margin: 0 4px 0 0;
}

div.hop-tabslider-content {
    overflow: hidden;
}
