/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-foldlist.css                  */
/*    -------------------------------------------------------------    */
/*    Author      :  Erick Gallesio                                    */
/*    Creation    :  Wed Mar  1 11:56:02 2006                          */
/*    Last change :  Fri Jul  6 09:22:59 2007 (serrano)                */
/*    -------------------------------------------------------------    */
/*    HOP fold-item implemenetation                                    */
/*=====================================================================*/

.hop-fl {
  font: inherit;
  margin: 2px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hop-fl td.hop-fl-item {
  margin-left: 4px;
  cursor: pointer;
}

.hop-fl td.hop-fl-item:hover {
  color: #008;
}

.hop-fl img.hop-fl-img {
}

.hop-fl span.hop-fl-head {
  font-weight: bold;
  margin-left: 4px;
}

