/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-sorttable.css                 */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Mon Jan  9 13:43:05 2006                          */
/*    Last change :  Mon May 29 14:10:44 2006 (serrano)                */
/*    Copyright   :  2006 Manuel Serrano                               */
/*    -------------------------------------------------------------    */
/*    Hop sorttable CSS                                                */
/*=====================================================================*/

span.hop-sorttable a.hop-sortheader {
  text-decoration: none;
}

span.hop-sorttable span.hop-sortarrow {
  border-style: solid;
  border-width: 1px;
  font-size: small;
  font-weight: bold;
}

span.hop-sorttable a.hop-sortheader:visited {
  border: 2px solid yellow;
}
