/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-tree.css                      */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Tue Jul 19 10:48:00 2005                          */
/*    Last change :  Tue Dec 19 10:23:17 2006 (serrano)                */
/*    Copyright   :  2005-06 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    Hop Tree CSS                                                     */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Tree configuration                                               */
/*---------------------------------------------------------------------*/
table.hop-tree {
  font-family: Tahoma, Verdana;
  font-size: 11px;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.hop-tree td {
  vertical-align: middle;
  border-width: 0;
  padding: 0;
  margin: 0;
}

table.hop-tree td img, table.hop-tree td span {
  vertical-align: middle;
  border-width: 0;
  padding: 0;
  margin: 0;
}

table.hop-tree-leaf {
  font-family: Tahoma, Verdana;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.hop-tree-leaf td.hop-tree {
  vertical-align: middle;
}

table.hop-tree-leaf td.hop-tree span.hop-tree {
  vertical-align: middle;
}

table.hop-tree-leaf td.hop-tree img.hop-tree {
  vertical-align: middle;
}

img.hop-tree-openclose {
  cursor: pointer;
}

/*---------------------------------------------------------------------*/
/*    row                                                              */
/*---------------------------------------------------------------------*/
tr.hop-tree-row-unselected {
  background: inherit;
  border-width: 0;
  padding: 0;
  margin: 0;
}

tr.hop-tree-row-selected {
  background: #6b5dff;
  border-width: 0;
}

/*---------------------------------------------------------------------*/
/*    Tree body                                                        */
/*---------------------------------------------------------------------*/
div.hop-tree-body {
  border-width: 0;
  margin: 0;
  padding: 0;
}
