/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-notepad.css                   */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Mon Jan 17 18:56:22 2005                          */
/*    Last change :  Tue Nov 14 11:31:18 2006 (serrano)                */
/*    Copyright   :  2005-06 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    HOP notepad                                                      */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Title                                                            */
/*---------------------------------------------------------------------*/
div.hop-notepad-title {
  margin: 0;
  border-width: 0;
  text-align: left;
  background: #8381de;
  padding: 0 10px 20px 0;
  font-family: sans-serif;
  font-style: italic;
  font-size: xx-large;
}

/*---------------------------------------------------------------------*/
/*    Body                                                             */
/*---------------------------------------------------------------------*/
div.hop-notepad-body {
  border: 1px solid #777;
  margin: 0;
  background: #dedeff;
  padding: 10px;
}

/*---------------------------------------------------------------------*/
/*    Notepad body tab                                                 */
/*---------------------------------------------------------------------*/
div.hop-notepad-body-tab {
  width: 100%;
  background: #dedeff;
}

/*---------------------------------------------------------------------*/
/*    Tabs line                                                        */
/*---------------------------------------------------------------------*/
div.hop-notepad-tabs {
  clear: left;
  border: 0;
  border-width: 0;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  background: white;
}

/*---------------------------------------------------------------------*/
/*    Tabs                                                             */
/*---------------------------------------------------------------------*/
div.hop-notepad-tabs span.hop-nptab {
  font-family: Arial,Helvetica,sans-serif;
  font-size: small;
  font-weight: bold; 
  cursor: pointer;
  padding: 2px 10px 1px 10px;
  margin: 0 4px 0 0;
  border-width: 1px;
  border-color: #777;
  border-style: solid;
  text-decoration: none;
}

div.hop-notepad-tabs span.hop-nptab-active {
  color: black;
  background: #dedeff;
  border-bottom-color: #dedeff;
}

div.hop-notepad-tabs span.hop-nptab-inactive {
  color: black;
  background: white;
  border-bottom-color: #777;
}

div.hop-notepad-tabs span.hop-nptab-inactive:hover {
  color: #8381de;
}

/*---------------------------------------------------------------------*/
/*    Mozilla tabs                                                     */
/*---------------------------------------------------------------------*/
div.hop-notepad-tabs span.hop-nptab {
  -moz-border-radius-topRight: 0.3em;
  -moz-border-radius-topLeft: 0.3em;
}

