/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-iwindow.css                   */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Wed Apr 19 15:17:45 2006                          */
/*    Last change :  Sat Dec  9 08:32:44 2006 (serrano)                */
/*    Copyright   :  2006 Manuel Serrano                               */
/*    -------------------------------------------------------------    */
/*    HOP IWINDOW CSS                                                  */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    main frame                                                       */
/*---------------------------------------------------------------------*/
div.hop-iwindow {
  position: absolute;
  background: none;
}

div.hop-iwindow-inner {
  border: 1px solid black;
}  

/*---------------------------------------------------------------------*/
/*    handle                                                           */
/*---------------------------------------------------------------------*/
div.hop-iwindow div.hop-iwindow-handle {
  position: absolute;
  height: 13px;
  top: 0;
  left: 0; 
  right: 1px;
}

div.hop-iwindow table.hop-iwindow-handle {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid #555;
  border-bottom: 1px solid black;
  height: 13px;
  background: #ddd;
  cursor: default;
}

div.hop-iwindow td.hop-iwindow-iconify {
  background-image: url( "icons/iwindow-icon.png" );
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
  text-align: left;
  width: 13px;
}

div.hop-iwindow td.hop-iwindow-maximize {
  background-image: url( "icons/iwindow-maximize.png" );
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
  text-align: left;
  width: 13px;
}

div.hop-iwindow td.hop-iwindow-close {
  background-image: url( "icons/iwindow-close.png" );
  background-repeat: no-repeat;
  background-position: right;
  vertical-align: middle;
  text-align: right;
  width: 13px;
}

/*--- The title -------------------------------------------------------*/
div.hop-iwindow td.hop-iwindow-up-title {
  vertical-align: middle;
}

div.hop-iwindow td.hop-iwindow-up-title table {
  font-size: 11px;
  font-weight: bold;
  color: #ff9f1a;
}

div.hop-iwindow td.hop-iwindow-up-title td.hop-iwindow-title-left {
  background-image: url( "icons/iwindow-title-left.png" );
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
  text-align: left;
  width: 10px;
}

div.hop-iwindow td.hop-iwindow-up-title td.hop-iwindow-title-middle {
  background-image: url( "icons/iwindow-title.png" );
  background-repeat: repeat;
  background-position: center;
  vertical-align: middle;
  text-align: center;
}

div.hop-iwindow td.hop-iwindow-up-title td.hop-iwindow-title-right {
  background-image: url( "icons/iwindow-title-right.png" );
  background-repeat: no-repeat;
  background-position: right;
  vertical-align: middle;
  text-align: right;
  width: 10px;
}

/*---------------------------------------------------------------------*/
/*    content                                                          */
/*---------------------------------------------------------------------*/
div.hop-iwindow div.hop-iwindow-content {
  position: absolute;
  top: 18px; 
  padding-top: 2px;
  bottom: 4px; 
  left: 1px; 
  right: 1px;
  border-top: 0;
  border-bottom: 0;
  background: white;
  overflow: auto;
}

/*---------------------------------------------------------------------*/
/*    bottom line                                                      */
/*---------------------------------------------------------------------*/
div.hop-iwindow div.hop-iwindow-foot {
  position: absolute;
  height: 4px;
  bottom: 0px;
  left: 0; 
  right: 0;
}

div.hop-iwindow div.hop-iwindow-foot table {
  font-size: 2pt;
}

div.hop-iwindow td.hop-iwindow-bottom-left {
  width: 25px;
  background-image: url( "icons/iwindow-bottom-left.png" );
  cursor: sw-resize;
}

div.hop-iwindow td.hop-iwindow-bottom-middle {
  background-image: url( "icons/iwindow-bottom-middle.png" );
  cursor: s-resize;
}

div.hop-iwindow td.hop-iwindow-bottom-right {
  width: 25px;
  background-image: url( "icons/iwindow-bottom-right.png" );
  cursor: se-resize;
}

/*---------------------------------------------------------------------*/
/*    shadow                                                           */
/*---------------------------------------------------------------------*/
table.hop-iwindow-shadow {
  padding: 0;
  border-width: 0;
  border-spacing: 0;
}

table.hop-iwindow-shadow td.hop-shadow-ne {
  font-size: 2pt;
  width: 8px;
  height: 8px;
  background: none;
  background-image: url( "icons/iwindow-shadow-ne.png" );
}

table.hop-iwindow-shadow td.hop-shadow-e {
  font-size: 2pt;
  width: 8px;
  background: none;
  background-image: url( "icons/iwindow-shadow-e.png" );
}

table.hop-iwindow-shadow td.hop-shadow-sw {
  font-size: 2pt;
  width: 8px;
  height: 8px;
  background: none;
  background-image: url( "icons/iwindow-shadow-sw.png" );
}

table.hop-iwindow-shadow td.hop-shadow-s {
  font-size: 2pt;
  height: 8px;
  background: none;
  background-image: url( "icons/iwindow-shadow-s.png" );
}

table.hop-iwindow-shadow td.hop-shadow-se {
  font-size: 2pt;
  height: 8px;
  background: none;
  background-image: url( "icons/iwindow-shadow-se.png" );
}

div.hop-iwindow table.hop-iwindow-shadow  div.hop-iwindow-handle {
  right: 8px;
}
  
div.hop-iwindow table.hop-iwindow-shadow div.hop-iwindow-content {
  bottom: 12px; 
  right: 9px;
}

div.hop-iwindow table.hop-iwindow-shadow div.hop-iwindow-foot {
  bottom: 8px;
  right: 8px;
}  

