/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-paned.css                     */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Wed Aug 17 16:08:51 2005                          */
/*    Last change :  Fri Jul  6 06:02:08 2007 (serrano)                */
/*    Copyright   :  2005-07 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    HOP paned CSS                                                    */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Common settings                                                  */
/*---------------------------------------------------------------------*/
div.hop-paned {
  width: 100%;
  height: inherit;
  border: 1px inset black;
  padding: 0;
  margin: 0;
}

/*---------------------------------------------------------------------*/
/*    Vertical paned                                                   */
/*---------------------------------------------------------------------*/
table.hop-vpaned {
  border: 5px solid rgb(204,204,204);
  border-collapse: separate;
  border-spacing: 0;
}

td.hop-vpaned-pan {
  border: 1px inset black;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

td.hop-vpaned-pan-right {
  width: auto;
}

td.hop-vpaned-pan div.hop-pan {
  border-width: 0;
  height: 100%;
}

td.hop-vpaned-cursor {
  text-align: center;
  vertical-align: middle;
  border-width: 0;
  margin: 0;
  width: 5px;
  cursor: move;
  background-color: rgb(204,204,204);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url( "icons/paned-vcursor.png" );
  height: 100%;
}

td.hop-vpaned-cursor:hover {
  background-color: rgb(150,150,150);
}

/*---------------------------------------------------------------------*/
/*    Horizontal settings                                              */
/*---------------------------------------------------------------------*/
div.hop-hpaned {
  height: 100%;
}

div.hop-hpaned-cursor {
  border-width: 0;
  background-color: rgb(204,204,204);
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  width: 100%;
  cursor: move;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url( "icons/paned-hcursor.png" );
}

div.hop-hpaned-cursor:hover {
  background-color: rgb(150,150,150);
}

div.hop-hpaned > div.hop-pan {
  overflow: auto;
}
