/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-tree.css                      */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Tue Jul 19 10:48:00 2005                          */
/*    Last change :  Fri Jul 20 11:35:07 2007 (serrano)                */
/*    Copyright   :  2005-07 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    Hop Tree CSS                                                     */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    hop-tree-parent                                                  */
/*---------------------------------------------------------------------*/
div.hop-tree-container {
  padding: 0;
  margin: 0;
}

/*---------------------------------------------------------------------*/
/*    Tree configuration                                               */
/*---------------------------------------------------------------------*/
table.hop-tree {
  width: 100%;
  font-family: Tahoma, Verdana;
  font-size: 11px;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.hop-tree-leaf {
  width: 100%;
  font-family: Tahoma, Verdana;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

td.hop-tree {
  vertical-align: middle;
  border-width: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
  height: 16px;
  width: 16px;
}

td.hop-tree-title {
  vertical-align: middle;
  border-width: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
  height: 16px;
  padding-left: 2px;
}

td.hop-tree img.hop-tree {
  vertical-align: middle;
}

td.hop-tree img.hop-tree-openclose {
  vertical-align: middle;
  cursor: pointer;
}

/*---------------------------------------------------------------------*/
/*    row                                                              */
/*---------------------------------------------------------------------*/
tr.hop-tree-row-unselected {
  background: inherit;
  border-width: 0;
  padding: 0;
  margin: 0;
}

tr.hop-tree-row-selected {
  background: #6b5dff;
  border-width: 0;
}

/*---------------------------------------------------------------------*/
/*    Tree body                                                        */
/*---------------------------------------------------------------------*/
div.hop-tree-body {
  border-width: 0;
  margin: 0;
  padding: 0;
}
