/*=====================================================================*/
/*    serrano/prgm/project/hop/1.9.x/share/hop-sorttable.css           */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Mon Jan  9 13:43:05 2006                          */
/*    Last change :  Mon Mar 31 11:22:43 2008 (serrano)                */
/*    Copyright   :  2006-08 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    Hop sorttable CSS                                                */
/*=====================================================================*/

span.hop-sorttable a.hop-sortheader {
  text-decoration: none;
}

span.hop-sorttable span.hop-sortarrow {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  font-size: small;
  font-weight: bold;
  width: 1em;
  white-space: pre;
}

span.hop-sorttable span.hop-sortarrow:hover {
  border-style: dotted;
  border-color: black;
  border-width: 1px;
}

span.hop-sorttable a.hop-sortheader:visited {
  border: 2px solid yellow;
}
