/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-lframe.css                    */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Tue Nov  8 15:25:03 2005                          */
/*    Last change :  Wed Nov  9 07:59:01 2005 (serrano)                */
/*    Copyright   :  2005 Manuel Serrano                               */
/*    -------------------------------------------------------------    */
/*    CSS for HOP labeled frames                                       */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    lframe                                                           */
/*---------------------------------------------------------------------*/
div.hop-lframe {
  border: 0;
  padding: 0;
  background: white;
}

/*---------------------------------------------------------------------*/
/*    lframe label                                                     */
/*---------------------------------------------------------------------*/
div.hop-lframe > span.hop-lframe-label {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: arial;
  font-weight: bold;
  font-size: small;
  background: inherit;
}

/*---------------------------------------------------------------------*/
/*    lframe body                                                      */
/*---------------------------------------------------------------------*/
div.hop-lframe > div.hop-lframe-body {
  margin-top: -0.5em;
  border-width: 2px;
  border-style: ridge;
  padding: 2px;
}
