/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-tabslider.css                 */
/*    -------------------------------------------------------------    */
/*    Author      :  Erick Gallesio                                    */
/*    Creation    :  Sep 14 09:25:00 2005                              */
/*    Last change :  Sat Jul 21 14:37:47 2007 (serrano)                */
/*    Copyright   :  2007 Manuel Serrano                               */
/*    -------------------------------------------------------------    */
/*    HOP tabslide CSS                                                 */
/*=====================================================================*/

div.hop-tabslider {
    width: 300px;
    height: 500px;
    overflow: auto;
    background: #eee;
}

div.hop-tabslider span.hop-tabslider-head {
    display: block;
    background: #ccc;
    cursor: pointer;
    border-width: 1px;
    border-style: dotted;
    padding: 2px 10px 2px 10px;
}

div.hop-tabslider-content {
    overflow: hidden;
}
