/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-tree.css                      */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Tue Jul 19 10:48:00 2005                          */
/*    Last change :  Mon Sep 11 16:25:44 2006 (serrano)                */
/*    Copyright   :  2005-06 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    Hop Tree CSS                                                     */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Tree configuration                                               */
/*---------------------------------------------------------------------*/
table.hop-tree {
  font-family: Tahoma, Verdana;
  font-size: 12px;
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.hop-tree td {
  vertical-align: baseline;
}

table.hop-tree td span, table.hop-tree td img {
  vertical-align: top;
}

table.hop-tree-leaf {
  font-family: Tahoma, Verdana;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.hop-tree-leaf td {
  vertical-align: baseline;
}

table.hop-tree-leaf td span {
  vertical-align: middle;
}

table.hop-tree-leaf td img {
  vertical-align: top;
}


img.hop-tree-openclose {
  cursor: pointer;
}

/*---------------------------------------------------------------------*/
/*    row                                                              */
/*---------------------------------------------------------------------*/
tr.hop-tree-row-unselected {
  background: inherit;
  border: 0;
}

tr.hop-tree-row-selected {
  background: #6b5dff;
  border: 1px solid black;
}
