/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-paned.css                     */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Wed Aug 17 16:08:51 2005                          */
/*    Last change :  Tue Nov 14 11:49:49 2006 (serrano)                */
/*    Copyright   :  2005-06 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    HOP paned CSS                                                    */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Common settings                                                  */
/*---------------------------------------------------------------------*/
div.hop-paned {
  width: 100%;
  height: inherit;
  border: 1px inset black;
  padding: 0;
  margin: 0;
}

div.hop-paned-cursoron {
  border-width: 0;
  cursor: move;
  background: rgb(150,150,150);
  background-repeat: no-repeat;
  background-position: center;
}
   
div.hop-paned-cursoroff {
  border-width: 0;
  background: rgb(204,204,204);
  background-repeat: no-repeat;
  background-position: center;
}

/*---------------------------------------------------------------------*/
/*    Vertical paned                                                   */
/*---------------------------------------------------------------------*/
table.hop-vpaned {
  border: 5px solid rgb(204,204,204);
  border-collapse: separate;
  border-spacing: 0;
}

td.hop-vpaned-pan {
  border: 1px inset black;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

table.hop-vpaned > div.hop-pan {
  border-width: 0;
  height: 100%;
}

td.hop-paned-cursor {
  text-align: center;
  vertical-align: middle;
  border-width: 0;
  margin: 0;
  padding: 0;
}
 
table.hop-vpaned td.hop-paned-cursor {
  width: 5px;
}

table.hop-vpaned td.hop-paned-cursor > div {
  height: 100%;
  width: 5px;
}

table.hop-vpaned div.hop-paned-cursoron {
  width: 5px;
  height: 100%;
  background-image: url( "icons/paned-vcursor.png" );
}

table.hop-vpaned div.hop-paned-cursoroff {
  width: 5px;
  height: 100%;
  background-image: url( "icons/paned-vcursor.png" );
}

/*---------------------------------------------------------------------*/
/*    Horizontal settings                                              */
/*---------------------------------------------------------------------*/
div.hop-hpaned {
  border: 5px solid rgb(204,204,204);
  border-spacing: 0;
}

div.hop-hpaned > div.hop-paned-cursor {
  border-top: 1px inset black;
}

div.hop-paned-cursor { 
  height: 5px; 
  width: 100%;
}

div.hop-paned-cursoron {
  background-image: url( "icons/paned-hcursor.png" );
}

div.hop-paned-cursoroff {
  background-image: url( "icons/paned-hcursor.png" );
}
