/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-foldlist.css                  */
/*    -------------------------------------------------------------    */
/*    Author      :  Erick Gallesio                                    */
/*    Creation    :  Wed Mar  1 11:56:02 2006                          */
/*    Last change :  Wed Apr 26 17:56:35 2006 (serrano)                */
/*    -------------------------------------------------------------    */
/*    HOP fold-item implemenetation                                    */
/*=====================================================================*/

.hop-fl {
    margin: 2px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.hop-fl IMG.hop-fl-img {
    cursor: pointer;
}

.hop-fl SPAN.hop-fl-head {
    cursor: pointer;
    font-weight: bold;
    margin-left: 4px;
}

.hop-fl DIV.hop-fl-item {
    margin-left: 4px;
}
