/*=====================================================================*/
/*    serrano/prgm/project/hop/share/hop-debug.css                     */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Thu Aug  3 14:19:22 2006                          */
/*    Last change :  Fri Aug  4 10:04:32 2006 (serrano)                */
/*    Copyright   :  2006 Manuel Serrano                               */
/*    -------------------------------------------------------------    */
/*    HOP debug CSS                                                    */
/*=====================================================================*/

div.hop_debug_reset {
  text-align: center;
  font-size: x-small;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2px;
  padding-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}
  
div.hop_debug {
  width: 100%;
  height: 100%;
  background: white;
  font-size: x-small;
}

pre.hop_debug_pre {
  overflow: auto;
  font-family: monospace;
  width: 100%;
  height: 180px;
}
