/*=====================================================================*/
/*    serrano/prgm/project/hop/1.9.x/share/hop-slider.css              */
/*    -------------------------------------------------------------    */
/*    Author      :  Manuel Serrano                                    */
/*    Creation    :  Wed Aug 10 11:04:10 2005                          */
/*    Last change :  Mon May  5 10:03:11 2008 (serrano)                */
/*    Copyright   :  2005-08 Manuel Serrano                            */
/*    -------------------------------------------------------------    */
/*    HOP slider CSS                                                   */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    hop-slider                                                       */
/*---------------------------------------------------------------------*/
table.hop-slider {
  border-collapse: collapse;
} 

/*---------------------------------------------------------------------*/
/*    Line configuration                                               */
/*---------------------------------------------------------------------*/
table.hop-slider div.lineleft {
  height: 3px;
  border-right: 0;
  border-left: 1px solid #555;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background: #68f;
}
  
table.hop-slider div.lineright {
  height: 3px;
  border-left: 0;
  margin: 0;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #ccc;
}

/*---------------------------------------------------------------------*/
/*    Cursor configuration                                             */
/*---------------------------------------------------------------------*/
table.hop-slider td.cursor {
  margin: 0;
  padding: 0;
  width: 14px;
  border-left: 1px outset #aaa;
  border-top: 1px outset #aaa;
  border-right: 1px outset #555;
  border-bottom: 1px outset #555;
}

table.hop-slider div.cursor {
  width: 14px;
  height: 7px;
  background-image: url( "icons/hop-slider/cursor.png" );
  background-position: center center;
  background-repeat: repeat-y;
  background-color: rgb(150,150,150);
}
   
table.hop-slider div.cursoron {
}
   
table.hop-slider div.cursoroff {
  background-color: rgb(204,204,204);
}

table.hop-slider td.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  font-size: 8px;
}
