<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>fr.inria.hop</string>
	<key>CFBundleName</key>
	<string>Hop</string>
	<key>CFBundleExecutable</key>
	<string>hop</string>
	<key>CFBundleIconFile</key>
	<string>hop</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>http://localhost:8080/hop</string>
</dict>
</plist>
